@{
    ViewData["Title"] = "Portafolio";
}

<div class="content-sections-container">

    <div class="content-section active" data-content="introduction">
        <partial name="Sections/_Introduction" />
    </div>

    <div class="content-section" data-content="skills">
        <partial name="Sections/_Skills" />
    </div>

    <div class="content-section" data-content="projects">
        <partial name="Sections/_Projects.cshtml" />
    </div>

    <div class="content-section" data-content="education">
        <partial name="Sections/_Education.cshtml" />
    </div>

</div>