.header-particles {
    position: relative;
    width: 100%;
    height: 400px;
    background: linear-gradient(180deg, #2d2d2d 0%, #0a0a0a 100%);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.particle {
    position: absolute;
    background-color: #c0c0c0;
    border-radius: 50%;
    opacity: 0.3;
    animation: float linear infinite;
}

@keyframes float {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 0;
    }

    8% {
        opacity: 0.5;
        transform: translate(calc(var(--tx) * 0.15), calc(var(--ty) * 0.1)) rotate(45deg);
    }

    15% {
        opacity: 0.7;
        transform: translate(calc(var(--tx) * 0.05), calc(var(--ty) * 0.25)) rotate(80deg);
    }

    28% {
        opacity: 0.6;
        transform: translate(calc(var(--tx) * 0.4), calc(var(--ty) * 0.35)) rotate(140deg);
    }

    42% {
        opacity: 0.7;
        transform: translate(calc(var(--tx) * 0.25), calc(var(--ty) * 0.5)) rotate(200deg);
    }

    55% {
        opacity: 0.6;
        transform: translate(calc(var(--tx) * 0.65), calc(var(--ty) * 0.6)) rotate(260deg);
    }

    70% {
        opacity: 0.7;
        transform: translate(calc(var(--tx) * 0.75), calc(var(--ty) * 0.75)) rotate(310deg);
    }

    85% {
        opacity: 0.5;
        transform: translate(calc(var(--tx) * 0.9), calc(var(--ty) * 0.88)) rotate(340deg);
    }

    92% {
        opacity: 0.3;
    }

    100% {
        transform: translate(var(--tx), var(--ty)) rotate(360deg);
        opacity: 0;
    }
}

.particle:nth-child(1) {
    width: 3px;
    height: 3px;
    left: 10%;
    top: 20%;
    --tx: 80px;
    --ty: -250px;
    animation-duration: 8s;
    animation-delay: 0s;
}

.particle:nth-child(2) {
    width: 2px;
    height: 2px;
    left: 25%;
    top: 60%;
    --tx: -90px;
    --ty: -220px;
    animation-duration: 9s;
    animation-delay: 0.5s;
}

.particle:nth-child(3) {
    width: 4px;
    height: 4px;
    left: 40%;
    top: 30%;
    --tx: 100px;
    --ty: -280px;
    animation-duration: 8.5s;
    animation-delay: 1s;
}

.particle:nth-child(4) {
    width: 2px;
    height: 2px;
    left: 55%;
    top: 70%;
    --tx: -85px;
    --ty: -240px;
    animation-duration: 9.5s;
    animation-delay: 0.3s;
}

.particle:nth-child(5) {
    width: 3px;
    height: 3px;
    left: 70%;
    top: 40%;
    --tx: 95px;
    --ty: -260px;
    animation-duration: 8.2s;
    animation-delay: 0.8s;
}

.particle:nth-child(6) {
    width: 2px;
    height: 2px;
    left: 85%;
    top: 50%;
    --tx: -105px;
    --ty: -230px;
    animation-duration: 9.2s;
    animation-delay: 1.3s;
}

.particle:nth-child(7) {
    width: 3px;
    height: 3px;
    left: 15%;
    top: 80%;
    --tx: 75px;
    --ty: -245px;
    animation-duration: 8.7s;
    animation-delay: 1.5s;
}

.particle:nth-child(8) {
    width: 4px;
    height: 4px;
    left: 35%;
    top: 15%;
    --tx: -95px;
    --ty: -270px;
    animation-duration: 9.7s;
    animation-delay: 0.6s;
}

.particle:nth-child(9) {
    width: 2px;
    height: 2px;
    left: 60%;
    top: 90%;
    --tx: 88px;
    --ty: -235px;
    animation-duration: 10s;
    animation-delay: 1.1s;
}

.particle:nth-child(10) {
    width: 3px;
    height: 3px;
    left: 80%;
    top: 25%;
    --tx: -110px;
    --ty: -275px;
    animation-duration: 8.3s;
    animation-delay: 0.4s;
}

.particle:nth-child(11) {
    width: 2px;
    height: 2px;
    left: 5%;
    top: 45%;
    --tx: 98px;
    --ty: -210px;
    animation-duration: 9.3s;
    animation-delay: 0.9s;
}

.particle:nth-child(12) {
    width: 3px;
    height: 3px;
    left: 45%;
    top: 85%;
    --tx: -78px;
    --ty: -285px;
    animation-duration: 8.8s;
    animation-delay: 1.4s;
}

.particle:nth-child(13) {
    width: 4px;
    height: 4px;
    left: 65%;
    top: 10%;
    --tx: 108px;
    --ty: -255px;
    animation-duration: 9.1s;
    animation-delay: 0.2s;
}

.particle:nth-child(14) {
    width: 2px;
    height: 2px;
    left: 90%;
    top: 65%;
    --tx: -92px;
    --ty: -225px;
    animation-duration: 9.6s;
    animation-delay: 0.7s;
}

.particle:nth-child(15) {
    width: 3px;
    height: 3px;
    left: 20%;
    top: 35%;
    --tx: 82px;
    --ty: -248px;
    animation-duration: 8.4s;
    animation-delay: 1.05s;
}

.particle:nth-child(16) {
    width: 2px;
    height: 2px;
    left: 50%;
    top: 55%;
    --tx: -88px;
    --ty: -265px;
    animation-duration: 9.8s;
    animation-delay: 0.45s;
}

.particle:nth-child(17) {
    width: 4px;
    height: 4px;
    left: 75%;
    top: 75%;
    --tx: 102px;
    --ty: -215px;
    animation-duration: 8.9s;
    animation-delay: 0.8s;
}

.particle:nth-child(18) {
    width: 2px;
    height: 2px;
    left: 30%;
    top: 95%;
    --tx: -80px;
    --ty: -290px;
    animation-duration: 9.4s;
    animation-delay: 1.45s;
}

.particle:nth-child(19) {
    width: 3px;
    height: 3px;
    left: 95%;
    top: 20%;
    --tx: 105px;
    --ty: -228px;
    animation-duration: 8.1s;
    animation-delay: 0.2s;
}

.particle:nth-child(20) {
    width: 3px;
    height: 3px;
    left: 12%;
    top: 50%;
    --tx: -97px;
    --ty: -278px;
    animation-duration: 9.15s;
    animation-delay: 1.6s;
}

.header-content {
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 2rem;
}

    .header-content h2 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--color-text-secondary);
        letter-spacing: 3px;
    }

    .header-content h1 {
        font-size: 3rem;
        font-weight: 700;
        background: linear-gradient(135deg, #ffffff 0%, #a0a0a0 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
